src/main/resources/SessionWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="SessionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:8080/SessionWS/SessionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAccess">
<part name="parameters" element="tns:getAccess"/>
</message>
<message name="getAccessResponse">
<part name="parameters" element="tns:getAccessResponse"/>
</message>
<message name="createSession">
<part name="parameters" element="tns:createSession"/>
</message>
<message name="createSessionResponse">
<part name="parameters" element="tns:createSessionResponse"/>
</message>
<message name="injectData">
<part name="parameters" element="tns:injectData"/>
</message>
<message name="injectDataResponse">
<part name="parameters" element="tns:injectDataResponse"/>
</message>
<portType name="SessionWS">
<operation name="getAccess">
<input wsam:Action="http://service.com/SessionWS/getAccessRequest" message="tns:getAccess"/>
<output wsam:Action="http://service.com/SessionWS/getAccessResponse" message="tns:getAccessResponse"/>
</operation>
<operation name="createSession">
<input wsam:Action="http://service.com/SessionWS/createSessionRequest" message="tns:createSession"/>
<output wsam:Action="http://service.com/SessionWS/createSessionResponse" message="tns:createSessionResponse"/>
</operation>
<operation name="injectData">
<input wsam:Action="http://service.com/SessionWS/injectDataRequest" message="tns:injectData"/>
<output wsam:Action="http://service.com/SessionWS/injectDataResponse" message="tns:injectDataResponse"/>
</operation>
</portType>
<binding name="SessionWSPortBinding" type="tns:SessionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSession">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="injectData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SessionWS">
<port name="SessionWSPort" binding="tns:SessionWSPortBinding">
<soap:address location="http://localhost:8080/SessionWS/SessionWS"/>
</port>
</service>
</definitions>